${!! session.is_logged_in ? `
    <div class="container">
        <div class="welcome card">
            <div class="card-header">
                <h2 class="card-header-title is-centered">Welcome to Initial Calculus Essentials</h2>
            </div>
            <div class="card-content">
                <div class="content">
                        <p>Initial Calculus Essentials was built to help anyone learning calculus for the first time. Many institutions don't set aside substantial course time for "initial" skill development or review of concepts that should have been addressed in a standard precalculus course.</p>

                        <p>While a number of skills will no doubt be developed and sharpened during a calculus course, we believe that students would benefit from improving their “initial” skills in advance as opposed to trying to make up lost ground once the course begins.</p>
                        
                        <p>To get started, click on problems located above in the navigation bar.</p>
                </div>
            </div>
        </div>
    </div>
` : `
<nav class="level logins">
    <!-- Left side -->
    <div class="level-item">
        <div class="card sign-up">
            <header class="card-header">
                <p class="card-header-title is-centered">
                    Sign Up
                </p>
            </header>
            <div class="card-content">
                <form action="/users/signup" method="POST">
                    <div class="field">
                        <label class="label">Username (display name)</label>
                        <p class="control has-icons-left has-icons-right">
                            <input class="input is-rounded" type="text" aria-placeholder="Username"
                                placeholder="Enter Your Username" name="username" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <p class="control has-icons-left has-icons-right">
                            <input class="input is-rounded" type="email" aria-placeholder="Email"
                                placeholder="Enter Your Email" name="email" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <label class="label">Select a Password</label>
                        <p class="control has-icons-left">
                            <input class="input is-rounded" type="password" aria-placeholder="Password"
                                placeholder="Enter your password" name="password" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <p class="control">
                            <button type="submit" class="button is-success">
                                Create my Account
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="level-item">
                <div>a</div>
                <div>b</div>
            </div> -->
    <!-- Right side -->
    <div class="level-item">
        <div class="card login">
            <header class="card-header">
                <p class="card-header-title is-centered">
                    Login
                </p>
            </header>
            <div class="card-content">
                <form action="/users/login" method="POST">
                    <div class="field">
                        <label class="label">Email</label>
                        <p class="control has-icons-left has-icons-right">
                            <input class="input is-rounded" type="email" aria-placeholder="email"
                                placeholder="Enter Your Email" name="email" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <p class="control has-icons-left">
                            <input class="input is-rounded" type="password" aria-placeholder="Password"
                                placeholder="Enter your password" name="password" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <p class="control">
                            <button type="submit" class="button is-success">
                                Login
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
`}