${problems.map((problem, i, a) => `
    ${i % 4 == 0 ? `
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">${problem.id}</p>
                    <p class="subtitle">True</p>
                </article>
            </div>

    ` : `
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">${problem.id}</p>
                    <p class="subtitle">False</p>
                </article>
            </div>
        </div> 
    `} 
`).join('')}

