
<h1>Problem ${problem_id}</h1>
<p>${statement}</p>
<br>

<form action="/problem/${problem_id}" method="POST">
    <label>
        Insert your answer
        <input
            type="text"
            aria-placeholder="user_answer"
            placeholder="Enter your answer"
            name="user_answer"
        />
    </label>
    <button type="submit">Submit</button>
</form>

${Number(problem_id) > 1 && Number(problem_id) < problemCount ? `<a class="button is-primary" href="/problem/${Number(problem_id) - 1}">Previous</a><a class="button is-primary" href="/problem/${Number(problem_id) + 1}">Next</a>` : Number(problem_id) === 1 ? `<a class="button is-primary" href="/problem/${Number(problem_id) + 1}">Next</a>` : `<a class="button is-primary" href="/problem/${Number(problem_id) - 1}">Previous</a>`}

