<div class="problem-container">
    <div class="card problem-card">
        <div class="card-content">
            <p class="title is-5">Problem ${problem_id}</p>
            <p class="subtitle is-5">${statement}</p><br>
            <form action="/problem/${problem_id}" method="POST">
                <div class="field">
                    <label class="label title is-6">Your Answer</label>
                    <div class="control">
                            ${(problem.type === 'truefalse') ? `
                            <div class="select is-multiple">
                                <select name="user_answer" style="width: 143px;" multiple size="2" required>
                                    <option value="T">True</option>
                                    <option value="F">False</option>
                                </select>
                            </div>
                            <br>
                            
                        ` : (problem.type === 'manual_ordered' || problem.type === 'manual_unordered') ? `
                        <div class="control">
                                <input class="input is-primary" type="text" aria-placeholder="user_answer" placeholder="Type your answer here" name="user_answer" required>
                            </div>
                        ` : `
                            something broke
                        `}
                <button type="submit" class="button is-primary">Submit Answer</button>
            </form>
        </div>
        <footer class="card-footer">
            ${Number(problem_id) > 1 && Number(problem_id) < problemCount ? `<p class="card-footer-item"><span><a
                        class="button is-primary" href="/problem/${Number(problem_id) - 1}">Problem ${Number(problem_id) - 1}</a></span></p>
                <p class="card-footer-item"><span><a class="button is-primary"
                            href="/problem/${Number(problem_id) + 1}">Problem ${Number(problem_id) + 1}</a></span></p>` : Number(problem_id) === 1 ? `<p class="card-footer-item"><span><a
                            class="button is-primary" href="/problem/${Number(problem_id) + 1}">Problem ${Number(problem_id) + 1}</a></span></p>`
                : `
                <p class="card-footer-item"><span><a class="button is-primary"
                            href="/problem/${Number(problem_id) - 1}">Problem ${Number(problem_id) - 1}</a></span></p>`}
        </footer>
    </div>
</div>
