<div class="container" style="display:flex; justify-content: center;">


<table class="table is-hoverable is-striped is-bordered">
    <thead>
        <tr>
            <th>Problem</th>
            <th>Category</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        ${categoryCombo.map((element, i, a) => 
            `
            <tr>
                <td><a href="/problem/${element.problem_number}">${element.problem_number}</a></td>

                <td>${element.category_name}</td>
                ${element.is_correct ? `
                    <td>
                        <span class="icon has-text-success" title="You got this problem correct!">
                        <i class="fas fa-check-square"></i>
                        </span>
                    </td>
                      ` : (element.is_correct === false) ? `
                            <td>
                                <span class="icon has-text-danger" title="You answered this problem incorrectly.">
                                <i class="fas fa-ban"></i>
                                </span>
                            </td>
                            ` : `
                            <td>
                                <span class="icon has-text-warning" title="You have not attempted this problem.">
                                <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </td>`} 
            </tr>
            `).join('')}
    </tbody>
</table>
</div>