<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {
            inlineMath: [ ['$','$'] ], 
            displayMath: [ ['$$','$$'] ]
        }});
      </script>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>ICE | ${title}</title>
</head>
<body>
    <section class="hero is-dark bold">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">
                    ${title}
                </h1>
                <h2 class="subtitle">
                    ${!!isLoggedIn ? `
                        Welcome, ${userName}!
                        ` : `
                        <i>(not logged in)</i>
                    `}
                </h2>
                </div>
                <nav class="menu--main">
                        <ul>
                            ${!!isLoggedIn ? `
                                <li><a href="/users/logout">Logout</a></li>
                                ` : `
                                <li><a href="/users/login">Login</a></li>
                                <li></li><a href="/users/signup">Signup</a></li>
                            `}
                        </ul>
                    </nav>
            </div>
            </section>
    ${partial}
</body>
</html>